{% extends 'base.html' %}

{% block content %}
<!--filter form-->
<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">

        </div>
    </div>
    <form action="" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    
                    <input type="date" name="fromdate" class="form-control">
                    <label>From Date</label>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    
                    <input type="date" name="todate" class="form-control">
                    <label>To Date</label>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                
                <button
                type="submit"
                class="btn btn-sm"
                data-bgcolor="#00b489"
                data-color="#ffffff"
        >
            <i class="icon-copy dw dw-filter-1"></i>Filter Report

        </button>
</div>
            </div>

        </div>
        
        <div>
            {% if message %}
            <hr>
        <a href="{{current_path}}" class="text-danger">{{message}}</a>
        {% endif %}
        </div>


    </form>
</div>


<!-- Export Datatable start -->
<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Sale Report</h4>
    </div>
    <div class="pb-20">
        <table
                class="table hover data-table-export nowrap"
        >
            <thead>
            <tr class="table-warning">
                <th class="table-plus datatable-nosort">Date</th>
                
                <th>CustomerName</th>
                <th>Items</th>

                <th>Qty</th>
                <th>Total Amount</th>
            </tr>
            </thead>
            <tbody id="reportBdy">
                {% for i in report %}
            
            <tr class="reportTr" data-rid="{{i.id}}">
                <td class="table-plus">{{i.date}}</td>
                <td>{{i.customer}}</td>
                <td class="text-blue">{{i.product_name}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.subtotal}}</td>

            </tr>
            {% endfor %}
            
            



            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total Sale</td>
                <td><strong class="text-blue">{{total_sale}}</strong></td>
                
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="ModalBdy">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="number" hidden name="reportid" id="inputid" value="0">
        <input type="password" class="form-control" name="pincode" id="pincode">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="ChangeBtn" class="btn btn-danger">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Export Datatable End -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#reportBdy').on('click', '.reportTr', function () {
            reportId = $(this).data('rid');
            $("#inputid").val(reportId);
            $('#exampleModal').modal('show');
            
        });//click

        $('#ModalBdy').on('click', '#ChangeBtn', function () {
            rid = $("#inputid").val();
            pincode = $('#pincode').val();
            if (pincode == "") {
                alert("Please enter the pincode");
                return;
            }
            if (pincode != "123456") {
                alert("Incorrect pincode");
                return;
            }else {
                $.ajax({
                    url: "/DeleteReport/",
                    type: "GET",
                    data: {
                        'reportid': rid,
                    },
                    success: function (response) {
                        if (response.status == "success") {
                            alert("Report deleted successfully");
                            location.reload();
                        } else {
                            alert("Failed to delete report");
                        }
                    },
                    error: function () {
                        alert("Error occurred while deleting report");
                    }
                });
            }
        });//changebtn



    });//readyfn
</script>

{% endblock content %}